
@{
    ViewBag.Title = "Change_password";
}
@model FinalTermProject.Models.User
<div class="container" style="border-bottom: inset; border-bottom-color: CaptionText; background: fixed ; ">
    <div class="row">
        <div class="col-md-8"><img src="~/Images/changePassword.jpg" width="750" height="400" /></div>
        
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
           <fieldset> <legend>Change Password!</legend>
               @using (Html.BeginForm("Change_Now", "Profile", FormMethod.Post, new { @class="form" ,role="form"}))
               { 
                  <div class="row">
                   
                   <div class="col-xs-6 col-md-6">
                     
                   <br />
                   @Html.ValidationMessageFor(m => m.Password)
                     @Html.TextBoxFor(m => m.Password, new {@class="form-control" , type="password",placeholder="Type Password",required="required"})  <br />
                       </div>
                      <div class="col-xs-6 col-md-6">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Change Password</button>
                      </div>
                   </div>
               }
               </fieldset>
            </div>
        </div>
    </div>

